<section class="pasos">
  <img class="pasos_wave" src="assets/img/wave.svg" alt="imagen wave">
  <div class="pasos__contenido">
    <h2>¿Como funciona? <span>tan fácil como 1, 2  y 3</span></h2>
    <div class="pasos__grid contenedor">
      <div class="pasos__paso">
        <img class="pasos__imagen" src="assets/img/paso_1.png" alt="Imagen paso a paso">
      </div>
      <div class="pasos__paso">
        <img class="pasos__imagen" src="assets/img/paso_2.png" alt="Imagen paso a paso">
      </div>
      <div class="pasos__paso">
        <img class="pasos__imagen" src="assets/img/paso_3.png" alt="Imagen paso a paso">
      </div>
    </div>
  </div>
</section>
