<footer class="footer">
  <div class="footer__grid contenedor">
    <div class="footer__widget">
      <h3 class="footer__heading">Nosotros</h3>
      <p class="footer__texto">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga esse fugit officia. Vitae eum hic id soluta
        quidem culpa ducimus possimus fuga? Assumenda quam, tempore sapiente rerum nostrum nisi hic.
      </p>
    </div>
    <div class="footer__widget">
      <h3 class="footer__heading">Navegación</h3>
      <div class="footer__nav">
        <a href="#" class="footer__link">Enlace 1</a>
        <a href="#" class="footer__link">Enlace 2</a>
        <a href="#" class="footer__link">Enlace 3</a>
        <a href="#" class="footer__link">Enlace 4</a>
        <a href="#" class="footer__link">Enlace 5</a>
        <a href="#" class="footer__link">Enlace 6</a>
      </div>
    </div>
    <div class="footer__widget">
      <h3 class="footer__heading">Contacto</h3>
      <p class="footer__texto">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga esse fugit officia. Vitae eum hic id soluta
        quidem culpa ducimus possimus fuga? Assumenda quam, tempore sapiente rerum nostrum nisi hic.
      </p>
    </div>
    <p class="footer__copyrigth">
      App Comida. Todos los derechos Reservados
    </p>
  </div>

</footer>
