<section class="repartidores">
  <h2 class="repartidores__heading">Gana dinero con AppComida</h2>
  <div class="repartidores__grid contenedor">
    <div class="repartidores__imagen">
      <img src="assets/img/repartidor.jpg" alt="Imagen repartidor">
    </div>
    <div class="repartidores__contenido">
      <p class="repartidores__texto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut repellendus repudiandae dolor ipsa vel unde quo! Perspiciatis quos perferendis asperiores nihil at officiis! Dolores aut quae dolorum libero id accusantium!</p>
      <p class="repartidores__texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium doloribus earum nihil illo cumque sit sint, illum nisi incidunt eaque architecto aut similique voluptatem quia harum fuga voluptatibus distinctio? Natus?</p>
      <a href="#" class="repartidores__enlace">Más información</a>
    </div>
  </div>
</section>
