<main class="favoritos">
  <h2 class="favoritos__heading">Restaurantes Favoritos</h2>
  <div class="favoritos__grid contenedor">
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
    <div class="favorito">
      <div class="favorito__grid">
        <div class="favorito__imagen">
          <img src="assets/img/logo_ensaladas.png" alt="Logo restaurante">
        </div>
        <div class="favorito__contenido">
          <img src="assets/img/estrellas.png" alt="calificación restaurante">
          <h3 class="favorito__nombre">Green ensaladas</h3>
          <div class="favorito__descripcion">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi rem explicabo consectetur asperiores tempora, architecto expedita ad sint quam rerum omnis delectus consequuntur quis ea commodi earum eligendi vero ipsam.
          </div>
        </div>
      </div>
    </div> <!-- .favorito -->
  </div>
</main>
