<section class="contenedor testimoniales">
  <h2 class="testimoniales__heading">Testimoniales</h2>

  <div class="testimoniales__grid">
    <div class="testimonial">
      <header class="testimonial__header">
        <div class="testimonial__imagen">
          <img src="assets/img/testimonial1.jpg" alt="testimonial">
        </div>
        <div class="testimonial__informacion">
          <p class="testimonial__autor">Juan Pérez</p>
          <img class="testimonial__calificacion" src="assets/img/estrellas.png" alt="Imagen estrellas">
        </div>
      </header>
      <blockquote class="testimonial__texto">
          Una excelente App, puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o en efectivo según me convenga.
      </blockquote>
    </div><!-- .testimonial -->
    <div class="testimonial">
      <header class="testimonial__header">
        <div class="testimonial__imagen">
          <img src="assets/img/testimonial5.jpg" alt="testimonial">
        </div>
        <div class="testimonial__informacion">
          <p class="testimonial__autor">Itzel Cruz</p>
          <img class="testimonial__calificacion" src="assets/img/estrellas.png" alt="Imagen estrellas">
        </div>
      </header>
      <blockquote class="testimonial__texto">
          Una excelente App, puedo seleccionar de una gran cantidad.
      </blockquote>
    </div><!-- .testimonial -->
    <div class="testimonial">
      <header class="testimonial__header">
        <div class="testimonial__imagen">
          <img src="assets/img/testimonial4.jpg" alt="testimonial">
        </div>
        <div class="testimonial__informacion">
          <p class="testimonial__autor">Rocio Rodríguez</p>
          <img class="testimonial__calificacion" src="assets/img/estrellas.png" alt="Imagen estrellas">
        </div>
      </header>
      <blockquote class="testimonial__texto">
          Una excelente App, puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o en efectivo según me convenga. No olvides visitar su página y dejar una recomendación.
      </blockquote>
    </div><!-- .testimonial -->
    <div class="testimonial">
      <header class="testimonial__header">
        <div class="testimonial__imagen">
          <img src="assets/img/testimonial2.jpg" alt="testimonial">
        </div>
        <div class="testimonial__informacion">
          <p class="testimonial__autor">Cinthia V</p>
          <img class="testimonial__calificacion" src="assets/img/estrellas.png" alt="Imagen estrellas">
        </div>
      </header>
      <blockquote class="testimonial__texto">
           Una excelente App, puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o en efectivo según me convenga.
        </blockquote>
    </div><!-- .testimonial -->
    <div class="testimonial">
      <header class="testimonial__header">
        <div class="testimonial__imagen">
          <img src="assets/img/testimonial3.jpg" alt="testimonial">
        </div>
        <div class="testimonial__informacion">
          <p class="testimonial__autor">José Hernandez</p>
          <img class="testimonial__calificacion" src="assets/img/estrellas.png" alt="Imagen estrellas">
        </div>
      </header>
      <blockquote class="testimonial__texto">
          Una excelente App, puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o en efectivo según me convenga.
      </blockquote>
    </div><!-- .testimonial -->
  </div>
</section>
