<section class="contenedor testimoniales">
  <h2 class="testimoniales__heading">Testimoniales</h2>

  <div class="testimoniales__grid">
    <div class="testimonial">
      <header class="testimonial__header">
        <div class="testimonial__imagen">
          <img src="assets/img/testimonial1.jpg" alt="testimonial">
        </div>
        <div class="testimonial__informacion">
          <p class="testimonial__autor"></p>
          <img class="testimonial__calificacion" src="assets/img/estrellas.png" alt="Imagen estrellas">
        </div>
      </header>
      <blockquote class="testimonial__texto">
           Una excelente App, puedo seleccionar de una gran cantidad de opciones y pagar en tarjeta o en efectivo según me convenga.
        </blockquote>
    </div><!-- .testimonial -->
  </div>
</section>
