<section class="descargar">
  <div class="descargar__grid contenedor">
    <div class="descargar__imagen">
      <img src="assets/img/app.png" alt="imagen app">
    </div>
    <div class="tiendas">
      <h3 class="tiendas__heading">Descarga la App</h3>
      <p class="tiendas__texto">Disponible para Android y iOS</p>

      <div class="tiendas__grid">
        <a href="#" class="tiendas__enlace">
          <img src="assets/img/tienda-apple.svg" alt="tienda apple">
        </a>
        <a href="#" class="tiendas__enlace">
          <img src="assets/img/tienda-android.svg" alt="tienda android">
        </a>
      </div>

    </div>
  </div>
</section>
