@use '../../../shared/base/variables' as v;
@use '../../../shared/base/mixins' as m;

.descargar{
  background-color: v.$grisClaro;
  padding: v.$separacion 0;
  &__grid {
    display: flex;
    flex-direction: column-reverse;
    @include m.tablet {
      @include m.grid(2,v.$separacion);
    }
  }
 &__imagen {
    width: 50%;
    margin: 5rem auto 0 auto;
    transition-property: transform;
    transition-duration: 300ms;
    @include m.tablet {
      margin-top: 0;
    }
    &:hover {
      transform: rotate(4deg) scale(1.2);
    }
 }

}

.tiendas {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__heading,
  &__texto {
    text-align: center;
  }
  &__heading {
    color: v.$secundario;
    margin: 2rem 0 0 0;
  }
  &__texto {
    margin-bottom: 3 rem;
  }
  &__grid {
    @include m.grid(2, 2rem);
  }
  &__enlace {
    transition-property: transform;
    transition-duration: 500ms;
    &:hover {
      transform: scale(1.2);
    }
  }
}

